@import url(http://fast.fonts.net/cssapi/d8808c07-1c7c-4e73-96d4-e4c9f107e235.css);
@impot ionicons.css;
#ft_org_button {
  background: #E83D43;
  border-color: transparent;
  color: #FFF;
  box-shadow: 0 1px 0 #B5373B;
  float: right; }
