.featherlight-content
	background: transparent !important
	width: 90%
	// height: 47%
	@include aspect-ratio(16,9)
.featherlight-loading
	background: #000 url(../images/FreeTogether-LoadingLogo.gif) no-repeat center center !important
	background-size: 300px !important
	z-index: 2